:root {
  --logo: #2196f3;
  --text: #212121;
  --title: #ffffff;
  --main-text-color: #757575;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* .tt-decor {
  text-decoration: none;
  list-style: none;
}

.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text);
}


.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
  list-style: none;
*/

/*------------Header------------*/

.container {
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-port {
  margin-bottom: 94px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  text-decoration: none;
  list-style: none;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* .nav-contact {
  display: flex;
  align-items: center;
  margin-left: 0px auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  list-style: none;
} */

.nav-contact-list {
  padding-right: 50px;
}

.tt-decor {
  text-decoration: none;
  list-style: none;
}

.logo-second {
  font-family: Raleway;
  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-first {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second-w {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
  list-style: none;
}

.menu:not(:last-child) {
  padding-right: 50px;
}

.item:hover,
.item:focus {
  color: var(--title);
}

.item-connect {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
  list-style: none;
}

.item-connect:not(:last-child) {
  padding-right: 50px;
}

.item-connect:hover,
.item-connect:focus {
  color: var(--logo);
}

/*------------HERO------------*/

.page-main-hero {
  text-align: center;
  padding-top: 200px;
  padding-right: 450px;
  padding-bottom: 280px;
  padding-left: 450px;
  background: #2f303a;
  margin-bottom: 94px;
}

.main-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* padding-top: 200px;
  padding-right: 450px;
  padding-bottom: 280px;
  padding-left: 450px; */
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--title);
}

.btn-first {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title);
  background-color: var(--logo);
}

.btn-second {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
}

.btn-second:hover,
.btn-second:focus {
  background-color: var(--logo);
}

.menu-nav:not(:last-child) {
  padding-right: 8px;
  padding-bottom: 50px;
}

.main-discription {
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  margin-bottom: 94px;
  /* align-items: center; */
}

.discription {
  display: flex;
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  list-style: none;
}

.discription-list:not(:last-child) {
  margin-right: 30px;
}

.discription-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--text);
}

.discription-p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* .container-job {
  display: flex;
  width: 1200px;
  align-items: center;
} */

/* .job {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.image-list:not(:last-child) {
  margin-right: 30px;
}

.photo {
  font-weight: bold;
  font-size: 36px;
  line-height: 2.6;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-top: 0;
}

.main-job {
  margin-bottom: 94px;
}

.command {
  font-weight: bold;
  font-size: 36px;
  line-height: 2.6;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--text);
}

.people-command:not(:last-child) {
  padding-right: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--text);
}

.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-bottom: 4px;
  color: var(--text);
}

.view {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-command {
  padding-bottom: 94px;
}

.card {
  padding-right: 30px;
  padding-bottom: 30px;
}

.card-different {
  padding-right: 0;
  padding-bottom: 30px;
}
/*------------FOOTER------------*/

.footer {
  background-color: #2f303a;
}

.footer-section {
  padding-left: 150px;
}

.logo-footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
  list-style: none;
}

.map-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  color: var(--title);
}

.email,
.tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
}

.map-item:hover,
.map-item:focus {
  color: var(--logo);
}

.email:hover,
.email:focus,
.tel:hover,
.tel:focus {
  color: var(--logo);
}

.footer-contact:not(:last-child) {
  padding-bottom: 9px;
}

.footer-contact:nth-child(3) {
  padding-bottom: 60px;
}
